@page "/waiting"

@inject NavigationManager NavigationManager
@inject IGameService GameService

@implements IDisposable


<PageTitle>Waiting</PageTitle>

<link href="css/style.css" rel="stylesheet">


<div class="menu">
    <div class="welcome-text">
		<h1>Ожидание подключения соперника...</h1>
	</div>
</div>

@code
{
	[SupplyParameterFromQuery]
	[Parameter]
	public string GameName { get; set; } = "";

	[SupplyParameterFromQuery]
	[Parameter]
	public string Username { get; set; } = "";

	private IDisposable? _notify;
	private IDisposable? _start;

	protected async override Task OnInitializedAsync()
	{

		await GameService.ConnectToHub();

		_start = GameService.CreateConnection("Start", () =>
		{
			NavigationManager.NavigateTo($"/chuck-a-luck?GameName={GameName}&Username={Username}");
		});
	}

	public void Dispose()
	{
		_notify?.Dispose();
		_start?.Dispose();
	}
}